body{
    margin:0;
    padding:0;
    margin-top:3%;
}
h1{
    text-align:center;
    font-size:45px;
    font-family:'Share Tech Mono';
}
.firstSection{
    width:80%;
    margin:0 auto;
    margin-top:1%;
    margin-left:10%;
    margin-right:20%;
    display:flex;
    background-color:#F9FBE7;
    border-radius: 20px;
    padding:5% 0 5% 0;
}
.aboutDiv{
    margin-top:5%;
    margin-left:10%;
    margin-right:10%;
}
.imgDiv{
    width:100%;
    margin-right: 5%;
}
.img{
    width:500px;
    height:500px;
}
.firstButton{
    padding:10px 20px;
    color:white;
    border-radius:10px;
    background-color:#424242;
    font-weight:700;
}
