*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    margin-top:3%;
}
h1{
    text-align:center;
    font-size:45px;
}
.firstSection{
    width:80%;
    margin:0 auto;
    margin-top:1%;
    margin-left:10%;
    margin-right:20%;
    margin-bottom:3%;
    display:flex;
    background-color:#F9FBE7;
    padding:5% 0 5% 0;
}
.aboutDiv{
    margin-top:5%;
    margin-left:10%;
    margin-right:10%;
}
.imgDiv{
    width:100%;
    margin-right: 5%;
}
.img{
    width:500px;
    height:500px;
}
.firstButton{
    outline:0;
    font-size: 20px;
    font-weight: 700;
    padding:5px 10px;
    color:white;
    border:10px solid #388E3C;
    background-color:#388E3C;
    font-weight:700;
    cursor:pointer;
    transition: 0.5s linear;
}
.firstButton:hover{
    background-color:transparent;
    color:#388E3C;
}
h1, h2, p, button, footer{
    font-family:'Operator Mono';
    margin-top:3%;
}
.secondSection{
    margin-top:1%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:5%;
    background-color:#F9FBE7;
}
.divisionDiv{
    width:100%;
    margin:0 auto;
    display:flex;
}
.divisions{
    width:50%;
    margin:3%;
}
.divisions img{
    height: 150px;
    width: 250px;
}
footer{
    background-color:#263238;
    text-align:center;
    padding:2%;
}
hr{
    border:1px solid #F9FBE7;
}