/* utilities */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}
/* navbar */
nav{
    display: flex;
}
.navigation{
    display: flex;
}