/* utilities */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #212121;
}
/* font */
h1{
    margin-top: 3%;
    font-size: 80px;
    margin-bottom: 0;
    font-family: 'Operator Mono';
    color: white;
    text-align: center;
}
h2{
    font-family: 'Operator Mono';
    font-size: 60px;
    color: white;
}
p{
    font-family: 'Operator Mono';
    text-align: justify;
    color: white;
    margin-top: 1%;
    /* margin-right: 5%; */
}
/* navigation bar */
nav{
    width: 100%;
    height: 80px;
    background-color: cornflowerblue;
}
/* first section */
.firstSection{
    display: flex;
    margin: 3% 10%;
}
article{
    width: 50%;
}
.teamPic{
    width: 50%;
}
.teamPic img{
    width: 100%;
    /* height: 520px; */
    border: 5px solid #22bedd;
}
.readButton{
    margin-top: 3%;
    outline: none;
    background-color: white;
    padding: 2% 4%;
    font-family: 'Operator Mono';
    font-size: 20px;
    font-weight: 700;
    border: 2px solid white;
    cursor: pointer;
}
.readButton:hover{
    border: 5px solid #22bedd;
    background-color: transparent;
    color: white;
    transition: 0.3s ease-in;
}
/* title animation */
.titleAnimation{
    position: relative;
    white-space: nowrap;
    color: transparent;
}
.titleAnimation::after{
    content:'REAL MADRID CF';
    position: absolute;
    top: 0;
    left: 0;
    color: #22bedd;
    animation: title 5s linear infinite;
}
@keyframes title{
    0%{
        content: 'R|';
    }
    5%{
        content: 'RE|';
    }
    10%{
        content: 'REA|';
    }
    15%{
        content: 'REAL|';
    }
    20%{
        content: 'REAL |';
    }
    25%{
        content: 'REAL M|';
    }
    30%{
        content: 'REAL MA|';
    }
    35%{
        content: 'REAL MAD|';
    }
    40%{
        content: 'REAL MADR|';
    }
    45%{
        content: 'REAL MADRI|';
    }
    50%{
        content: 'REAL MADRID |';
    }
    55%{
        content: 'REAL MADRID C|';
    }
    60%, 72%{
        content: 'REAL MADRID CF|';
    }
    74%{
        content: 'REAL MADRID C|';
    }
    76%{
        content: 'REAL MADRID |';
    }
    78%{
        content: 'REAL MADRI |';
    }
    80%{
        content: 'REAL MADR |';
    }
    82%{
        content: 'REAL MAD |';
    }
    84%{
        content: 'REAL MA |';
    }
    86%{
        content: 'REAL M |';
    }
    88%{
        content: 'REAL |';
    }
    90%{
        content: 'REA|';
    }
    92%{
        content: 'RE|';
    }
    94%{
        content: 'R|';
    }
    96%{
        content: 'R|';
    }
    98%{
        content: '|';
    }
    100%{
        content: '|';
    }
}
/* second section */
.secondSection{
    margin: 5% 10%;
    position: relative;
}
.secondSection:hover .stadiumDetails{
    display: block;
    margin-top: 0;
    height: 99.6%;
    background-color: rgba(0, 0, 0, 0.548);
}
.stadiumPic img{
    width: 100%;
}
.stadiumDetails{
    display: none;
    position: absolute;
    top: 0;
}
.stadiumDetails h2, p{
    text-align: center;
}
/* footer */
footer{
    font-family: 'Operator Mono';
    color: white;
    text-align: center;
    height: 100px;
    background-color: black;
    padding-top: 2%;
}