/* utilities */
*{
    font-family: 'Operator Mono';
}
a{
    text-decoration: none;
}
/* button/background color */
.customColor{
    background-image: linear-gradient(90deg, #2937f0, #9f1ae2);
}
/* title color */
.titleColor{
    color: #2937f0;
}
/* icon size */
.iconSize{
    font-size: 50px;
}
.bgImage{
    background-image: url(../images/background.png);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

}