/* utilities */
*{
    font-family: 'Operator Mono';
}
a{
    text-decoration: none;
}
/* button/background color */
.customColor{
    background-image: linear-gradient(90deg, #2937f0, #9f1ae2);
}
/* title color */
.titleColor{
    color: #2937f0;
}
/* icon size */
.iconSize{
    font-size: 50px;
}